/*
===========================================================================
eXe
Copyright 2004-2006, University of Auckland
Copyright 2004-2007 eXe Project, New Zealand Tertiary Education Commission
base style sheet for all themes
===========================================================================
*/

/* Base styles for exe */
body{margin:0;padding:0 10px 10px 10px;font-family:arial,verdana,helvetica,sans-serif;font-size:.8em}
#header{text-align:left;height:50px;padding-left:20px;font-size:2.2em;font-weight:bold ;}
a{text-decoration:none}
a:hover,a:focus{text-decoration:underline}
img.submit,img.help,img.info,img.gallery{border:0}
li{list-style-position:inside}
div#nodeDecoration{padding:0.1em;border-bottom:0em;text-align:right}
.block,.feedback{display:block;padding-top:0.25em;padding-bottom:0.25em}
.feedback{font-family:times,serif;font-size:120%}
/* --- iDevice -- */
.emphasis0{padding-left:0;margin:0}
.iDeviceTitle{font-weight:bold;position:relative;top:-18px;/* aligns title up with middle of icon */}
input.feedbackbutton{margin-top:10px;margin-bottom:10px}
/* 'tips for completion' and 'pedagogical help' */
.popupDiv{background-color:#EDEFF0;border:2px solid #607489;padding:0 4px 4px 4px;margin-left:15px;text-align:left;z-index:99;border-radius:3px}
.popupDivLabel{text-align:center;font:message-box;font-weight:bold;color:#fff;cursor:move;margin:0 -4px;background-image:url(popup_bg.gif)}
/* Wikipedia content imported into eXe. Taken from en.wikipedia.org. */
#catlinks{border:1px solid #aaa;background-color:#f9f9f9;padding:5px;margin-top:1em;clear:both}
div.floatleft,table.floatleft{float:left;position:relative;margin:0 .5em .5em 0;border:0}
div.floatleft p{font-style:italic}
/* thumbnails */
div.thumb{margin-bottom:.5em}
div.thumb div{border:1px solid #ccc;padding:3px !important;background-color:#f9f9f9;font-size:94%;text-align:center;overflow:hidden}
div.thumb div a img{border:1px solid #ccc}
div.thumb div div.thumbcaption{border:none;text-align:left;line-height:1.4em;padding:.3em 0 .1em 0}
div.magnify{float:right;border:none !important;background:none !important}
div.magnify a,div.magnify img{display:block;border:none !important;background:none !important}
div.tright{clear:right;float:right;border-width:.5em 0 .8em 1.4em}
div.tleft{float:left;margin-right:.5em;border-width:.5em 1.4em .8em 0}
/* Infobox template */
.infobox{border:1px solid #aaaaaa;background-color:#f9f9f9;color:#000;margin-bottom:0.5em;margin-left:1em;padding:0.2em;float:right;clear:right}
.infobox td,.infobox th{vertical-align:top}
.infobox caption{font-size:larger;margin-left:inherit}
.infobox.bordered{border-collapse:collapse}
.infobox.bordered td,.infobox.bordered th{border:1px solid #aaaaaa}
.infobox.bordered .borderless td,.infobox.bordered .borderless th{border:0}
.infobox.sisterproject{width:20em;font-size:90%}
/* wikipedia tables of contents */
#toc,.toc{border:1px solid #aaa;background-color:#f9f9f9;padding:5px;font-size:95%}
#toc h2,.toc h2{display:inline;border:none;padding:0;font-size:100%;font-weight:bold}
#toc #toctitle,.toc #toctitle,#toc .toctitle,.toc .toctitle{text-align:center}
#toc ul,.toc ul{list-style-type:none;list-style-image:none;margin-left:0;padding-left:0;text-align:left}
#toc ul ul,.toc ul ul{margin:0 0 0 2em}
#toc .toctoggle,.toc .toctoggle{font-size:94%}
@media print{
    .feedback{display:block}
    .feedbackbutton{display:none}
    #navcontainer{display:none}
    #main{margin-left:10px}
    div.node{page-break-after:always}
}
/*
====================
The New eXeLearning
====================
*/
/* Include these styles in the old themes */
.pre-code{background:#112C4A;color:#E7ECF1;font-family:Monaco,Courier,monospace;border-radius:9px;font-size:12px;margin:2em 1em;overflow:auto;padding:20px}
/* To review */
.question .answer p{margin:0}