body {
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 12px;
}
.content {
	margin: auto;
	text-align: left; 
	width: 720px; 
}
.clean { 
	border: 1px solid #850000; 
}
.clean td, .clean th{ 
	border: 2px solid #bbb; 
	background: #ddd; 
	padding: 5px 10px; 
	text-align: center; 
	border-radius: 2px; 
	background-color:#FF0000; 
}
.clean table { 
	margin: auto; 
	margin-top: 15px; 
	margin-bottom: 15px; 
}
.clean caption { 
	font-weight: bold; 
	background-color:#FF0000; 
}
.gvChart,.clean { 
	border: 2px solid #CCCCCC; 
	border-radius: 5px; 
	margin: auto; 
	width: 830px; 
	margin-top: 20px; 
}