@charset "utf-8";
html,body,h2 {
	margin:0;
	padding:0;
}
a {
	text-decoration:none;
	color:#008be3;
}
a:hover {
	text-decoration:underline;
	color:#1fa8fe;

}
.input p {
width: 500px ;clear:left; margin: 0;padding: 5px ; 
}
.center {
	margin:auto;
	width:800px;
}
.header {
	background:#a6e009;
	height:30px;
	text-align:center;	
}
.login {
	width:300px;
	margin:auto;
}
#log {
	height:20px;
	border:1px solid #ccc;
}
#log:hover {
	height:20px;
	border:1px solid #1fa8fe;
}
.submit {
	border:none;
	background:#ccc;
	width:80px;
	height:25px;
	text-align:center;
	font-weight:bold;
}
.submit:hover{
	background:#93c8ea;
}
.home {
	margin:auto;
	width:500px;
}
.register {
	width:300px;
	margin:auto;
}